<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <!--<section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />-->
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <enyim.com>
    <!--<log factory="Enyim.Caching.NLogFactory, Enyim.Caching.NLogAdapter" />-->
    <memcached protocol="Text">
      <servers>
        <add address="192.168.101.135" port="11211" />
      </servers>
      <socketPool minPoolSize="2" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
      <transcoder type="Jusfr.Caching.Memcached.NewtonsoftJsonTranscoder, Jusfr.Caching.Memcached" />
    </memcached>
  </enyim.com>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
