<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="LogFolder" value="${basedir}\.Logs"/>
  <variable name="TraceLayout" value="${longdate}|${processid}|${threadid}|${callsite}|${message}"/>
  <variable name="ErrorLayout" value="${longdate}|${processid}|${threadid}|${callsite}|${message}${newline}"/>
  <targets async="true">
    <target name="Trace" xsi:type="File" layout="${TraceLayout}" archiveAboveSize="10485760" Encoding="utf-8"
        maxArchiveFiles="300" fileName="${LogFolder}\Trace_${date:format=yyyyMMdd}.log" />
    <target name="Info"  xsi:type="File" layout="${TraceLayout}" archiveAboveSize="10485760" Encoding="utf-8"
        maxArchiveFiles="300" fileName="${LogFolder}\Info_${date:format=yyyyMMdd}.log" />
    <target name="Debug" xsi:type="File" layout="${TraceLayout}" archiveAboveSize="10485760" Encoding="utf-8"
        maxArchiveFiles="300" fileName="${LogFolder}\Debug_${date:format=yyyyMMdd}.log" />
    <target name="Warn"  xsi:type="File" layout="${TraceLayout}" archiveAboveSize="10485760" Encoding="utf-8"
        maxArchiveFiles="300" fileName="${LogFolder}\Warn_${date:format=yyyyMMdd}.log" />
    <target name="Error" xsi:type="File" layout="${ErrorLayout}" archiveAboveSize="10485760" Encoding="utf-8"
        maxArchiveFiles="300" fileName="${LogFolder}\Error_${date:format=yyyyMMdd}.log" />
    <target name="Fatal" xsi:type="File" layout="${ErrorLayout}" archiveAboveSize="10485760" Encoding="utf-8"
        maxArchiveFiles="300" fileName="${LogFolder}\Fatal_${date:format=yyyyMMdd}.log" />
    <target name="Console" xsi:type="Console" layout="${time} ${message}" />
  </targets>
  <rules>
    <logger name="*" level="Trace"  writeTo="Trace"/>
    <logger name="*" level="Info"   writeTo="Info"/>
    <logger name="*" level="Debug"  writeTo="Debug"/>
    <logger name="*" level="Warn"   writeTo="Warn"/>
    <logger name="*" level="Error"  writeTo="Error"/>
    <logger name="*" level="Fatal"  writeTo="Fatal"/>
    <logger name="*" minlevel ="Trace" writeTo="Console" />
  </rules>
</nlog>
