<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
      <!--<section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />-->
    </sectionGroup>
  </configSections>
  <enyim.com>
    <!--<log factory="Enyim.Caching.NLogFactory, Enyim.Caching.NLogAdapter" />-->
    <memcached protocol="Text">
      <servers>
        <add address="192.168.121.135" port="11211" />
      </servers>
      <socketPool minPoolSize="2" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
      <transcoder type="Jusfr.Caching.Memcached.NewtonsoftJsonTranscoder, Jusfr.Caching.Memcached" />
    </memcached>
  </enyim.com>
</configuration>
